# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Build output
out/
target/

# Maven
.mvn/
mvn.cmd
mvnw
mvnw.cmd

# External / dependency cache
*.jar
!.mvn/wrapper/maven-wrapper.jar

# OS files
.DS_Store
Thumbs.db